@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100&display=swap');

* {
    font-family: "DM Sans", sans-serif;
}

body {
    margin: 0;
    display: flex;
}

.sidebar {
    background-color: #072B59;
    position: fixed;
    width: 5vw;
    height: 100%;
    transition: all .3s ease;
    padding: 0.6rem 0.3rem;
}

.sidebar .nav-links a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar.active {
    width: 15vw;
}

.nav-links {
    margin-top: 0em;
    padding: 0;
    list-style: none;
}

.nav-links li {
    padding: 11px;
    margin: 0.6em auto;
}

.nav-links a {
    color: #fff;
    font-size: 24px;
    display: flex;
    text-decoration: none;
}

.nav-links li span {
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 20px;
}

.sidebar.active .nav-links li span{
    opacity: 1;
    padding-left: 10px;
}

.conteudo {
    margin-left: 100px;
    transition: margin-left 0.3s ease, width 0.3s ease;
    padding: 20px;
    width: calc(100% - 100px);
}

.sidebar.active~.conteudo {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.buttons-professor {
    display: flex;
    justify-content: space-between;
}

.buttons-professor button {
    background-color: #a8b6bf40 !important;
    border: none;
    font-weight: bold;
    color: #072B59;
}

.nav-links li img {
    width: 30px;
    height: 30px;
}

.dados {
    width: 100%;
    height: 20vh;
    background-color: #a8b6bf40;
    border-radius: 2%;
}

.filter {
    width: 100%;
    height: 7vh;
    background-color: #072B59;
    display: flex;
    justify-content: space-around;
    gap: 10rem;
    border-radius: 2%;
    align-items: center;
}

.filter p {
    color: white;
    font-weight: bold;
    position: relative;
    right: 34vw;
    top: 1vh;
}

.filter img {
    width: 30px;
    height: 30px;
    position: relative;
    right: 7vw;
}

.button-filter button {
    background-color: #FFF !important;
    border: none;
    font-weight: bold;
    color: #072B59;
    position: relative;
    left: 7vw;
}

.button-filter button:hover {
    color: #072B59;
}

.inputs {
    display: flex;
    justify-content: space-around;
}

.line {
    border: 1px solid #072B59;
    width: 100%;
}

label {
    color: #072B59;
    font-weight: bold;
    position: relative;
    top: 0.5vh;
}

.dados-student {
    /* display: flex; */
    background-color: #FFF;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 15px;
    width: 100%;
    /* display: flex; */
    gap: 20px;
    
}

.detalhes-student {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-student{
    display: flex;
    gap: 1vw;
}

.header-student img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header-student p {
    color: #072B59;
    font-weight: bold;
    position: relative;
    top: 1.5vh;
    font-size: 20px;
}

.form-student {
    display: flex;
}

.personal-information {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.course-information{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.form-group {
    flex: 1 1 30%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group .label2{
    font-weight: 300;
}   

.form-group .label2,
.form-group .label2{
    min-width: 250px;  /* Ajuste esse valor conforme necessário */
    max-width: 100%;   /* Garante que não ultrapasse o container */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  /* Adiciona reticências (...) caso o texto seja muito longo */
}


.photo-student {
    display: flex;
    gap: 2vw;
    align-items: center;
    padding: 3vw;
}

.lixeira {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 5vh;
}

.lixeira img {
    width: 3vw;
    height: 6vh;
    cursor: pointer;
}

/* Linha horizontal */
hr.line {
    border: none;
    border-top: 1px solid #072B59;
    margin-top: 10px;
}

.dropdown-btn {
    padding-left: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-container {
    display: flex;
    align-items: center;
    color: white;
}

.sidebar .dropdown-btn{
    color: rgba(255, 255, 255, 0);
}

.sidebar.active .dropdown-btn{
    color: white;
}

.dropdown-container a {
    font-size: 15px;
    color: white; 
}

.hidden {
    display: none;
}

@media only screen and (max-device-width: 430px) {

    .dropdown-btn{
        font-size: 10px;
        color: rgba(255, 255, 255, 0);  
    }

    .dropdown-container a{
        font-size: 10px;
    }

    .sidebar {
        width: 16vw;
    }

    .sidebar.active .nav-links li span {
        display: none;
    }

    #toggle-btn {
        display: none;
    }

    .conteudo {
        position: relative;
        right: 8vw;
    }

    .inputs {
        flex-direction: column;
        text-align: left !important;
    }

    .inputs input {
        width: 45vw;
    }

    .inputs select {
        width: 45vw;
    }

    .inputs label {
        text-align: left !important;
    }

    #input_cpf {
        position: relative;
        left: 1.5vw;
    }

    #input_nicho {
        position: relative;
        right: 0.5vw;
    }

    #input_nivel {
        position: relative;
        left: 0.4vw;
    }

    #cpf {
        position: relative;
        right: 2vw;
    }

    #nicho {
        position: relative;
        right: 0.5vw;
    }

    #nivel {
        position: relative;
        right: 1vw;
    }

    .dados {
        height: 33vh;
    }

    .filter img {
        left: 0vw;
        height: 3vh;
    }

    .lixeira img {
        position: relative;
        right: 0vw;
        width: 8vw;
    }

    .photo-student img {
        width: 8vw;
    }

    .button-filter button {
        position: relative;
        left: 0vw;
    }

    .dados-student {
        gap: 2vw;
    }

    .filter {
        gap: 0vw;
    }

    .filter p {
        right: 0vw;
    }


}