@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100&display=swap');

* {
    font-family: "DM Sans", sans-serif;
}

body {
    margin: 0;
    display: flex;
}

/* NAV BAR */

.sidebar {
    background-color: #072B59;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    transition: all .3s ease;
    padding: 0.6rem 0.3rem;
}

.sidebar.active {
    width: 250px;
}

.nav-links {
    margin-top: 2em;
    padding: 0;
    list-style: none;
}

.nav-links li {
    padding: 15px;
    margin: 0.8em auto;
}

.nav-links a {
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-links li span {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sidebar.active .nav-links li span {
    opacity: 1;
    padding-left: 10px;
}

.conteudo {
    margin-left: 100px;
    transition: margin-left 0.3s ease, width 0.3s ease;
    padding: 20px;
    width: calc(100% - 100px);
}

.sidebar.active~.conteudo {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.register {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.photo-student {
    width: 30vw;
    height: 85vh;
    background-color: #a8b6bfa4;
    border-radius: 5%;
    text-align: center;
}

.content-student {
    width: 50vw;
    height: 85vh;
    background-color: #a8b6bfa4;
    border-radius: 5%;
    padding: 1%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.title-personal-information p{
    font-size: 24px;
    font-weight: bold;
    color: #072B59;
}

.form-label{
    font-size: 16px !important;
    font-weight: bold;
    color: #072B59;
}

.content-student span{
    color: red;
}

.form-control{
    width: 20vw !important;
}

.form-select{
    width: 20vw !important;
}

.button button{
    background-color: #072B59 !important;
    border: none;
    font-weight: bold;
}

.title-contact p{
    font-size: 24px;
    font-weight: bold;
    color: #072B59;
}

.title-course p{
    font-size: 24px;
    font-weight: bold;
    color: #072B59;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #072B59;
    transform: rotate(90deg);
}

#nivel{
    position: relative;
    bottom: 2vh;
}

#nivelTitle{
    position: relative;
    bottom: 2vh;
}

#nicho{
    position: relative;
    bottom: 2vh;
}

#nichoTitle{
    position: relative;
    bottom: 2vh;
}

.line {
    width: 2px; /* Defina a largura da linha */
    height: 70vh; /* Defina a altura da linha */
    background-color: black; /* Defina a cor da linha */
    border: none; /* Remova a borda padrão do <hr> */
    transform: rotate(0deg); /* Rotacione o <hr> em 90 graus */
    transform-origin: left center; /* Ajuste a origem da rotação */
}

.photo-student img {
    align-items: center;
    flex-direction: column;
    width: 15vw;
}
